html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.panel_profile_friends .thumbnail{
    border: none;
}

.select-message{
    background-color: rgba(196, 213, 230, 0.71);
}

.lang-widget{
    position: relative;
    cursor: pointer;
}
.lang-widget .langs{
    position: absolute;
    bottom: 50px;
    right: 0;
    opacity: 0;
    transition: opacity 0.5s, visibility 0.5s, bottom 0.5s;
    visibility: hidden;
    background-color: rgba(231, 231, 231, 0.81);
    margin: 0;
    padding: 0;
    border: 1px solid #0f0f0f;
    border-radius: 5px;
}
.lang-widget:hover .langs{
    visibility: visible;
    opacity: 1;
    bottom: 0;
}
.lang-widget .langs .item-lang{
    list-style-type: none;
    margin: 0;
}
.lang-widget .langs .item-lang:hover{
    background-color: rgba(0, 15, 87, 0.11);
}
.lang-widget .langs .item-lang a{
    display: block;
    color: #0f0f0f;
    padding: 10px;
    text-decoration: none;
}

.blog .category-description{
    color: rgba(0, 0, 0, 0.7);
    font-size: 15px;
}
.blog-pagination .page-item a{
    color: #444;
}
.blog-pagination .page-item.active .page-link{
    background-color: #777;
    border-color: #555;
}
.blog .blog-article{
    border: 1px solid rgba(105, 105, 105, 0.5);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-bottom: 20px;
    color: #444;
    }
    .blog .blog-article .image{
        width: 100%;
        height: 200px;
        background-size: cover;
        background-position: center;
    }
    .blog .blog-article .img{
        -webkit-box-sizing: unset;
        -moz-box-sizing: unset;
        box-sizing: unset;
        }
    .blog .blog-article .article-body{
        padding: 10px;
        }
        .blog .blog-article .article-body .article-info {
            color: #666;
            }
            .blog .blog-article .article-body .article-info span{
                padding-right: 20px;
            }
            .blog .blog-article .article-body .article-info a{
                color: #666;
                text-decoration: underline;
                }
                .blog .blog-article .article-body .article-info a:hover{
                    text-decoration: none;
                    }
    .blog .blog-article .btn{
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        background: rgba(105, 105, 105, 0.7);
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
        color: #fff;
        }
        .blog .blog-article .btn:hover{
            background: rgba(35, 35, 35, 0.7);
            color: #fff;
            }

.list-group .header{
    text-align: center;
    background: rgba(105, 105, 105, 0.7);
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
}

.footer-lists{
    padding: 10px 0 30px;
}

.rating{
    margin-top: 10px;
    text-align: center;
    }
    .rating .rating-box{
        position:relative;
        display: inline-block;
        margin: 0 auto;
            }
        .rating .rating-box .background-box{
            background: rgba(0, 0, 0, 0.07);
            height: 23px;
            width: 100%;
            left: 0;
            top: 0;
            position: absolute;
            }
        .rating .rating-box .slider-box{
            background: #FFC627;
            height: 23px;
            width: 86%;
            left: 0;
            top: 0;
            position: absolute;
            }
        .rating .rating-box .slider-select-box{
            background: #ff8b39;
            height: 23px;
            width: 0%;
            left: 0;
            top: 0;
            position: absolute;
            }
        .rating .image-box{
            width: 230px;
            height: 23px;
            margin: 0 auto;
            position: relative;
            }
            .rating .image-box .image{
                width: 23px;
                height: 23px;
                background-position: center;
                background-size: cover;
                display: inline-block;
                padding: 0;
            }

.blog-categories-widget a.select{
    background: rgba(65, 65, 65, 0.2);
}